@font-face {
    font-family: newArrivals;
    src: url("./fonts/Westfalia-Regular.otf");
}  


body{
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* border radius */

.btn, .jumbotron, .nav :hover{
    border-radius: 0px;
}


.container-fluid{
    padding: 0px;
}

/* product image on cart */

.product-img {
    min-height: 100px;;
}

.jumbotron h2{
    margin-top: -20px;
}

/* jumbotron animation */

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab, orange, red);
    background-size: 400% 400%;
    -webkit-animation: Gradient 1 5s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* cart badge */

/* .cart-badge, .cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: black;
}    */


/* single product page */
.name{
    background: black;
    color: black;
    font-weight: bold;
}

/* black shade from 10-1 */
/* .black-10{
    background: #f2f2f2;
}

.black-9{
    background: #e6e6e6;
}

.black-8{
    background: #d9d9d9;
}

.black-7{
    background: #cccccc;
}

.black-6{
    background: #bbffbb;
}

.black-5{
    background: #f2f2f2;
}
 */


 .nav-row{
     width: 100%;
     height: 2.5em;
     margin: 0.25%;
     margin-bottom: 0.5%;
     display: flex;
     justify-content: space-evenly;
 }

.nav-blocks{
    height: 100%;
    background: #383838 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000AD;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-container{
    height: 100%;
    width: 100%;
    display: flex;
}

#search-form{
    height: 100%;
    width: 100%;
    display: flex;
}

.input-group-text{
    background: #383838 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000AD;
    border-radius: 5px;
    opacity: 1;
    border: none;
    padding: 0%;
    width: 100%;
}

.form-control{
    background: #383838 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    border-radius: 0%;
    border-left: solid 1px white;
    border-right: solid 1px white;
    width: 100%;
}

.form-control::placeholder{
    color: white;
}

.form-control:valid{
    color: white;
    background: #383838 0% 0% no-repeat padding-box;
}

#nav-select{
    color: white;
}

.input-group-append{
    padding: 0%;
    height: 100%;
}

#search-button{
    box-shadow: none;
    color: white;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

#search-bar{
    width: 75%;
}

#results{
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 3px 6px #000000AD;
    border-radius: 5px;
}

a:active{
    color: white;
}

.home{
    width: 2.75%;
}

#signout{
    width: 10%;
}


.body-pad{
    padding: 1%;
}

.prod-row{
    display: flex;
    justify-content: space-between;
}

.new-card{
    width: 22.5%;
    margin-right: 2.5%;
}

.pic-square{
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card-info{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* align-items: center;*/
    text-align: center; 
    flex-grow: 1;
    justify-content: space-between;
    /* align-items: end; */
    flex-direction: column;
    display: flex;
    /* display: flex; */

}

.button-center{
    text-align: center;
}

.btn{
    background-color: #383838;
    border-radius: 10rem;
    border: none;
    color: white;
}

.hover{
    position: absolute;
    margin-top: 0.25%;
    margin-left: 0.25%;
    background-color: #ffffff;
    color: rgb(48, 48, 48);
}

.card-price{
    margin-bottom: 0.5%;
}

.view{
    margin: 0;
}

.add{
    margin:0;
    background-color: rgba(253, 223, 52, 0.884);
    color: #000000;
    border-radius: 5px;
}

.remove{
    margin:0;
    background-color: rgba(253, 52, 52, 0.884);
    color: #000000;
    border-radius: 5px;
}

.banner{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.new-arrivals{
    width: 15%;
    height: 270px;
    font-family: newArrivals;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    color: #222222;
}

.include-logo{
    display: flex;
}

/* .card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */